body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #eef2ea;
	background: #00324d;
}

main {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#developer {
	max-width: 500px;
}

#status {
	font-size: 3.3em;
	margin-bottom: 10px;
}

#horizontal_line {
	width: 190px;
	height: 4px;
	background-color: #ba5a4c;
}

#credits {
	position: fixed;
    bottom: 0;
    right: 0;
	margin: 1em;
}

.credit {
	display: block;
	color: #ba5a4c;
	text-decoration: none;
	font-size: 0.6em;
	margin-top: 5px;
	font-weight: bold;
}

.credit:hover {
	color: #ba5a4c;
	text-decoration: underline;
	font-weight: bold;
}

@media (orientation: portrait) {

	main {
		position: relative;
	}

	#developer {
		margin: 3em 3em 0;
	}

	#status {
		font-size: 1.6em;
	}

	#credits {
		position: absolute;
		font-size: 0.8em;
		left: 0;
	}

	#horizontal_line {
		width: 30vw;
	}
  }